# DHVLab QEMU Desktop VM
# Copyright (C) 2018 Linus Kohl <linus@munichresearch.com>
# Permission to copy and modify is granted under the MIT License
# Last revised 22/2/2018

[Unit]
Description=XVNC Server

[Socket]
ListenStream=0.0.0.0:5900
Accept=yes

[Install]
WantedBy=sockets.target
